/*Section 1*/

.div-1 {
	width: 1170px;
	margin: 0 auto;
}

.header-1 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #5863F8;
	margin-bottom: 10px;
	margin-top: 60px;
}

.header-2 {
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	margin-bottom: 10px;

}	

.header-3 {
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	margin-bottom: 60px;
}


.boxes {
	width: 1170px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.box-1 {
	float: left;
	width: 535px;
	background-color: #F8F8F8;
	margin-bottom: 15px;
}


.food {
	float: left;
	width: 160px;
	padding-right: 10px;
	
}


.box1-header1 {
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-top: 30px;
	padding-bottom: 7px;
}

.box1-header2 {
	color: black;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 20px;
}


.box1-p3 {
    font-size: 14px;	
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2px;

}

.box1-p2 {
    font-size: 14px;	
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;	
    padding-bottom: 2px;
}


.box1-p1 {
    font-size: 14px;	
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;	
}



.box-2 {
	float: right;
	width: 535px;
	background-color: #F8F8F8;
	margin-bottom: 15px;
}
.box2-header1 {
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-bottom: 7px;
	padding-top: 30px;
}

.box2-header2 {
	color: black;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 20px;
}


.box2-p3 {
    font-size: 14px;	
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
}


/*section 2*/

.div-2 {
	width: 1170px;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 60px;
}

.div-2::before {
	content: 'Blog';
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #5863F8;

}

.div-2::after {
	content: 'post right away';
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
}

.title-2 {
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	margin-bottom: 10px;
	margin-top: 10px;

}


.boxes2 {
	width: 1170px;
	margin: 0 auto; 
}

.boxes-2 {
	float: left;
	width: 352px;
	background-color: #F8F8F8;
	margin-bottom: 15px;
}

.section2-header1 {
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-left: 130px;

}

.img3 {
    width: 352px;

}

.boxes::after {
	clear: both;
}

.boxes2::after {
	content: ' ';
	clear: both;
	display: block;
}

.section2-header2 {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-left: 80px;
	
}


.section2-p1 {

	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-left: 63px;
	padding-right: 63px;
	color: #B1B1B1;
	padding-bottom: 2px;
	padding-top: 2px;

}

.section2-p2 {
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding-left: 40px;
	color: #B1B1B1;
	padding-bottom: 2px;

}


.boxes-3 {
	float: left;
	width: 352px;
	background-color: #F8F8F8;
	margin-left: 60px;
}

.boxes-4 {

	float: right;
	width: 352px;
	background-color: #F8F8F8;

}


.boxes-5 {

    float: left;
	width: 352px;
	background-color: #F8F8F8;
	margin-left: 60px;
	margin-top: 20px;
}


.boxes-6 {

    float: right;
	width: 352px;
	background-color: #F8F8F8;
	margin-top: 20px;
}

.boxes-7 {
	float: left;
	width: 352px;
	background-color: #F8F8F8;
	
}